.profile {
  border-radius: 5px;
  margin: 0 0 2.5em;
  overflow: hidden;
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .profile {
    margin: 0 10px 2.5em;
  }
}

.profileName {
  padding: 0 10px;
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.profileDetail {
  padding: 0 15px;
  margin: 20px 0;
  font-size: 15px;
}
