@media screen and (min-width: 1160px) {
  .sub {
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0;
    width: 1160px;
  }
}

@media screen and (min-width: 820px) and (max-width: 1160px) {
  .sub {
    width: 740px;
    margin: 20px auto 0;
  }
}

@media screen and (max-width: 820px) {
  .sub {
    margin: 20px 0 0;
    padding: 0 20px;
  }
}
