.tableOfContents {
  border-radius: 5px;
  background-color: #f7f7fc;
  margin-bottom: 40px;
  padding: 20px;
}

@media screen and (min-width: 1160px) {
  .tableOfContents {
    position: relative;
  }
}

@media screen and (min-width: 820px) and (max-width: 1160px) {
  .tableOfContents {
    margin-top: 40px;
    position: relative;
  }
}

@media screen and (max-width: 820px) {
  .tableOfContents {
    position: relative;
  }
}

.title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px;
}

.list {
  border-bottom: 1px solid #e7e7f3;
  font-size: 16px;
  padding: 5px 0;
}

.list::before {
  color: #cacae7;
  content: "-";
  margin-right: 5px;
}

.listH2 {
  margin-left: 10px;
}

.listH3 {
  margin-left: 20px;
}
