.list {
  padding: 20px 0;
}

.link {
  display: flex;
  justify-content: space-between;
}

.ogimage {
  border-radius: 5px;
  height: auto;
  width: 335px;
}

.content {
  margin-left: 40px;
}

.title {
  font-size: 20px;
  font-weight: 700;

  text-wrap: wrap;
}

.upper {
  align-items: center;
  display: flex;

  margin-top: 10px;
}

.category {
  border: 1px solid #331cbf;
  border-radius: 3px;
  color: #331cbf;
  display: inline-block;
  font-size: 14px;
  margin: 0 0 2px;
  padding: 2px 8px;
  white-space: nowrap;
}

.meta {
  padding: 10px 0 40px;
  align-items: center;
  display: flex;
}

.timestamp {
  align-items: center;
  color: #616269;
  display: inline-flex;
  margin-right: 20px;
  white-space: nowrap;
}

.author {
  align-items: center;
  color: #616269;
  display: inline-flex;
  white-space: nowrap;
}
