.ranking {
  overflow: hidden;
  background: #fff;
  margin: 0 0 2.5em;
  border-radius: 5px;
  border: 1px solid #e4edf4;
}

@media screen and (max-width: 600px) {
  .ranking {
    margin: 0 10px 2.5em;
  }
}

.rankingTitle {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: var(--title-background-color);
  padding: 6px 10px;
}

.unorderedList {
  padding: 8px 10px;
}

@media screen and (min-width: 1160px) {
  .list {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 520px) and (max-width: 1160px) {
  .list {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1160px) {
  .link {
    display: block;
    padding: 10px;
  }
}

@media screen and (min-width: 520px) and (max-width: 1160px) {
  .link {
    display: flex;
    padding: 10px;
  }
}

@media screen and (max-width: 520px) {
  .link {
    display: block;
    padding: 10px;
  }
}

@media screen and (min-width: 1160px) {
  .ogimage {
    border-radius: 5px;
    height: auto;
    width: 280px;
  }
}

@media screen and (min-width: 520px) and (max-width: 1160px) {
  .ogimage {
    border-radius: 5px;
    height: auto;
    width: 140px;
  }
}

@media screen and (max-width: 520px) {
  .ogimage {
    border-radius: 5px;
    height: auto;
    width: 100%;
  }
}

@media screen and (min-width: 1160px) {
  .title {
    padding-top: 10px;
  }
}

@media screen and (min-width: 520px) and (max-width: 1160px) {
  .title {
    padding-left: 20px;
  }
}

@media screen and (max-width: 520px) {
  .title {
    padding-top: 10px;
  }
}
