.tag {
  overflow: hidden;
  background: #fff;
  margin: 0 0 2.5em;
  border-radius: 5px;
  border: 1px solid #e4edf4;
}

@media screen and (max-width: 600px) {
  .tag {
    margin: 0 10px 2.5em;
  }
}

.tagTitle {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: var(--title-background-color);
  padding: 6px 10px;
}

.unorderedList {
  padding: 8px 10px;
}

/* list */
@media screen and (min-width: 820px) {
  .list {
    display: inline-block;
    margin-right: 16px;
    padding: 4px 0;
  }
}

@media screen and (max-width: 820px) {
  .list {
    display: inline-block;
    margin-right: 16px;
    padding: 4px 0;
  }
}

/* link */
@media screen and (min-width: 820px) {
  .link {
    font-size: 16px;
    padding-left: 18px;
    position: relative;
    display: inline-block;
  }
}

@media screen and (max-width: 820px) {
  .link {
    font-size: 16px;
    padding-left: 18px;
    position: relative;
    display: inline-block;
  }
}

@media screen and (min-width: 820px) {
  .link::before {
    background: url(/tag.svg) 50% no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 14px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
  }
}

@media screen and (max-width: 820px) {
  .link::before {
    background: url(/tag.svg) 50% no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 14px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
  }
}
