@media screen and (min-width: 1160px) {
  .tag {
    padding: 20px 0;
  }
}

@media screen and (min-width: 820px) and (max-width: 1160px) {
  .tag {
    padding: 20px 0 0;
  }
}

@media screen and (max-width: 820px) {
  .tag {
    padding: 20px 0 0;
  }
}

@media screen and (min-width: 1160px) {
  .tagTitle {
    color: #fff;
    background-color: #067289;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 6px 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 820px) and (max-width: 1160px) {
  .tagTitle {
    color: #fff;
    background-color: #067289;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 6px 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 820px) {
  .tagTitle {
    color: #fff;
    background-color: #067289;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 6px 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 820px) {
  .unorderedList {
    padding: 0 10px;
  }
}

@media screen and (max-width: 820px) {
  .unorderedList {
    padding: 0 10px;
  }
}

/* list */
@media screen and (min-width: 820px) {
  .list {
    display: inline-block;
    margin-right: 16px;
    padding: 4px 0;
  }
}

@media screen and (max-width: 820px) {
  .list {
    display: inline-block;
    margin-right: 16px;
    padding: 4px 0;
  }
}

/* link */
@media screen and (min-width: 820px) {
  .link {
    font-size: 16px;
    padding-left: 18px;
    position: relative;
    display: inline-block;
  }
}

@media screen and (max-width: 820px) {
  .link {
    font-size: 16px;
    padding-left: 18px;
    position: relative;
    display: inline-block;
  }
}

@media screen and (min-width: 820px) {
  .link::before {
    background: url(https://blog.microcms.io/images/icon_tag.svg) 50% no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 14px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
  }
}

@media screen and (max-width: 820px) {
  .link::before {
    background: url(https://blog.microcms.io/images/icon_tag.svg) 50% no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 14px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
  }
}
